[Unit]
Description=GRAMS TOF MQTT-to-MySQL Bridge
After=network.target mysql.service

[Service]
Type=simple

User=pgrams

Environment="GLIB=/home/pgrams/tof_readout/daq/grams-tof/00build/00install"
Environment="PGRAMS_MYSQL_HOST=localhost"
Environment="PGRAMS_MYSQL_USER=pgrams_user"
Environment="PGRAMS_MYSQL_PASSWD=pgrams_user"
Environment="PGRAMS_MOSQUITTO_HOST=192.168.1.19"
Environment="PGRAMS_MOSQUITTO_PORT=1883"
Environment="PGRAMS_MOSQUITTO_TOPIC=TOF_ground_telemetry"
Environment="PGRAMS_MOSQUITTO_USER=pgrams_user"
Environment="PGRAMS_MOSQUITTO_PASSWD=pgrams_user"

WorkingDirectory=/home/pgrams/tof_readout/daq/grams-tof/00build/00install/ground

Environment="LD_LIBRARY_PATH=/home/pgrams/tof_readout/daq/grams-tof/00build/00install/lib"
Environment="PYTHONPATH=/home/pgrams/tof_readout/daq/grams-tof/00build/00install"

ExecStart=/home/pgrams/miniforge3/bin/python -u /home/pgrams/tof_readout/daq/grams-tof/00build/00install/ground/bin/tof_bridge.py

StandardOutput=append:/home/pgrams/tof_readout/daq/grams-tof/00build/00install/ground/log/proc.log
StandardError=inherit

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
