[Unit]
Description=PGRAMS TOF DAQ Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple

# ==============================================================================
#  Environment Switch
# ==============================================================================
# --- Active Environment: ksakai (xps15) ---
User=ksakai
Group=ksakai
ExecStart=/home/ksakai/work/source/grams-tof/00build/00install/bin/tof_daq
Environment="GLIB=/home/ksakai/work/source/grams-tof/00build/00install"
Environment="TOFDATA=/home/ksakai/work/grams/proc/tof_data"
Environment="LD_LIBRARY_PATH=/home/ksakai/work/source/grams-tof/00build/00install/lib:/home/ksakai/work/software/boost_1_89_0/lib:/home/ksakai/work/software/ncurses-6.5/lib:/home/ksakai/software/root_v6.36.00/lib"
Environment="PYTHONPATH=/home/ksakai/work/source/grams-tof/00build/00install:/home/ksakai/software/root_v6.36.00/lib"

# --- Standby Environment: sabertooth ---
#User=sabertooth
#Group=sabertooth
#ExecStart=/home/sabertooth/pGRAMSBalloon/GramsReadout/build/tof_daq
#Environment="GLIB=/home/sabertooth/pGRAMSBalloon/grams-tof/00build/00install"
#Environment="TOFDATA=/data/tof_data"
#Environment="LD_LIBRARY_PATH=/home/sabertooth/pGRAMSBalloon/grams-tof/00build/00install/lib:/home/sabertooth/tof_readout/software/boost_1_89_0/lib:/home/sabertooth/tof_readout/software/ncurses-6.5/lib:/home/sabertooth/tof_readout/software/root-6.36.06/lib"
#Environment="PYTHONPATH=/home/sabertooth/pGRAMSBalloon/grams-tof/00build/00install:/home/sabertooth/tof_readout/software/root-6.36.06/lib"
# ==============================================================================

Environment="PYTHONUNBUFFERED=1"

# --- Restart Policy & Logging ---
Restart=on-failure
RestartSec=5s

StandardOutput=journal
StandardError=journal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
